html{
	font-family: 'Montserrat', sans-serif;
}


#s1_2 hr{
	height: 3px;
    border: 1px solid;
    color: #F3CF43;
    background-color: #F3CF43;
    margin: 0%;
}

nav{
	/*height: 56px;*/
	background-color: #000;
}

nav .container-fluid{
	padding-right: 0%;
	padding-left: 0%;
	width: 100%;
}

.navbar-left{
    margin-right: 6%;
}
#a_logo_s_s{
	display: none;
}
#logo_s_s{
	height: 55px;
}

#a_logo_l_s{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    padding-top:0; 
}
#logo_l_s{
	height: 50px;
}

#myNavbar{
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
}

#myNavbar a{
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    transition: all 0.1s;
    font-weight: bold;
}

#myNavbar a:visited{
	text-decoration: none;
	text-underline-position: 5%;
}

#myNavbar a:focus{
	text-decoration: none;
	color: #F3CF43;
	/*border-bottom: 4px solid #F3CF43;*/
}

#myNavbar a:hover{
	text-decoration: none;
	color: #F3CF43;
	/*border-bottom: 4px solid #F3CF43;*/
}

#myNavbar .active{
	color: #F3CF43;
	/*border-bottom: 4px solid #F3CF43;*/
	text-decoration: none;
}

#s1_1 img{
	/*opacity: 0.2;*/
}

#s1_2{
	/*border: 2px solid LawnGreen;*/
	margin-bottom: -70px;
}

#nav_row{
	/*border: 2px solid LemonChiffon;*/
    height: 100%;
    width: 100%;
    margin-left: 0%;
}

.navbar-fixed {
    top:0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar-left{

}
#l_hiw{

}
#hiw{

}
#l_cp{
    
}
#cp{
	
}

#l_au{

}
#au{
    
}

.navbar-right{
	
}

#l_el{
   
}
#el{
	
}

#l_ma{

}
#ma{
	
}

#l_aq{

}
#aq{
	
}

#s2{

}

#s3{
    margin-top: 10%;
    /*margin-bottom: 30%;*/
}

#s3 .col-sm-6{
	padding-left: 10%;
}

#s3 label{
    margin-top: 15px;
    margin-right: 10px;
}

#s3 .form-control{
	display: inline;
}

#s3 .cts{
	padding-left: 26.5%;
}

#s3 .custom-select{
	width: 50%;
	/*margin-left: 10%;*/
}

#s3 .custom-text-input{
	width: 60%;
}
#s3 .custom-name-input{
	width: 60%;
}
#s3 .month-select{
	width: 80px;
}
#s3 .year-select{
	width: 100px;
}
#s4{
	margin-bottom: 8%;
	margin-top:10%;
	/*margin-left: 75%;*/

}
#s4 button{
	height: 50px;
	width: 150px;
	border-radius: 5px;
	text-decoration: none;
    border: none;
    color: white;
    font-size: 24px;
    background:linear-gradient(#569bc2, #416daa);
}

































































































footer{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 2%;
	background-color: black;
	font-family: 'Montserrat' ,sans-serif;
}

.e_social_links{
	margin-top: 1%;

}

.e_links{
    text-decoration: none;
    /*border: 1px solid white;*/
    margin-right: 2%;
    color: white;
   
    font-size: 24px;
}

.e_links:focus{
	text-decoration: none;
	color: white;
}

#t_link{
    border-right: 1px solid;
    margin-left: 14%;
    padding-right: 4%;
}

#e_link{
    padding-right: 3%;
    margin-left: 2%;
}

#s_ad{
	padding-left: 2%;
    padding-right: 2%;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	text-decoration: none;
	color: #F3CF43; 
	border-color: white;
}

footer a:focus{
	text-decoration: none;
}


#copyright{
	color: white;
	margin-top: 1%;
}

@media screen and (min-width: 1000px){
	#l_cp{
    	margin-left: 30px;
	}
	#l_el{
	    margin-right: 40px;
	}	
}

@media screen and (min-width: 150px) and (max-width: 800px){
	#s1_1{
		display: none;
	}

	/*#myNavbar{
		position: fixed;
		top: 50px;
		right: 0;
		width: 250px;
		height: 100%;
		z-index: 1000000;

		transition: height 0.5s;
	}*/

	#s3{
    margin-top: 30%;
    /*margin-bottom: 30%;*/
	}

	#s3 .col-sm-6{
		padding-left: 0%;
	}

	#s3 label{
	    margin-top: 15px;
	    margin-right: 10px;
	}

	#s3 .form-group{
		padding-left: 0;
	}

	#s3 .cts{
		padding-left: 22%;
		width: 100%;
	}
	#s3 .form-control{
		display: block;
		width: 100%;
	}

	#s3 .custom-text-input{
		width: 100%;
	}
	#s3 .custom-name-input{
		width: 100%;
	}
	#s3 .month-select{
		width: 80px;
	}
	#s3 .year-select{
		width: 100px;
	}

	#s4 .container-fluid{
	    padding-right: 50px;
    	padding-left: 36px;
	}

	#s4 .col-xs-12{
		margin-top: 20px;
	}
	
	#s4 .col-xs-12{
		text-align: center;
	}

}











